
<!-- 添加/修改数据对话框 -->
<div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                #{if null != store}
                    <h2 class="modal-title" id="myModalLabel">修改信息</h2>
                #{/if}
                #{else }
                    <h2 class="modal-title" id="myModalLabel">添加信息</h2>
                #{/else}
            </div>
        #{form @StoreController.saveResource(), method:'POST', enctype :'multipart/form-data', id:'dataForm'}
            #{if null != store}
                <input  type="hidden" name="store.id" value="${store.id}"/>
            #{/if}

            <div class="modal-body">
                <div class="form-group">
                    <label for="brandName">配件选择：</label>
                    <select class="form-control" name="store.resource.id" id = "resBrand" >
                        #{list items:resourceList, as:'resource'}
                            #{if store != null && store.resource.id == resource.id}
                                <option value="${resource.id}" selected = "selected">${resource.brand.name}->${resource.category.name}->${resource.type}</option>
                            #{/if}
                            #{else }
                                <option value="${resource.id}" >${resource.brand.name}->${resource.category.name}->${resource.type}</option>
                            #{/else}
                        #{/list}
                    </select>
                    <span class="note_e" id="resBrand_note"></span>
                </div>
                <div class="form-group">
                    <label for="brandName">日期：</label>
                    <input type="text" class="form-control" name="store.createdAt" id="createdAt" value="${store?.getCreatedAtString()}" placeholder="请选择日期">
                    <span class="note_e" id="createdAt_note"></span>
                </div>
                <div class="form-group">
                    <label for="brandName">数量：</label>
                    <input type="text" class="form-control" name="store.count" id="count" value="${store?.count}" placeholder="请输入数量">
                    <span class="note_e" id="count_note"></span>
                </div>
                <div class="form-group">
                    <label for="brandName">单价：</label>
                    <input type="text" class="form-control" name="store.costPrice" id="costPrice" value="${store?.costPrice}" placeholder="请输入单价">
                    <span class="note_e" id="costPrice_note"></span>
                </div>
                <div class="form-group">
                    <label for="brandName">总价：</label>
                    <input type="text" class="form-control" name="store.totalPrice" id="totalPrice" value="${store?.totalPrice}" placeholder="若不输入总价，系统会根据单价与数量自动计算">
                    <span class="note_e" id="totalPrice_note"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="addDataSubmit">保存</button>
            </div>
        #{/form}
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#addData").modal('show');

    $('#createdAt').datepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN"
    }).click(function(){
        $(this).datepicker('show');
        $(".datepicker").css("z-index", '999999');
        $(".datepicker").click(function(){
            $(".datepicker").css("z-index", '999999');
        });
    });


    var nameArray = [
        {"name":"count", "msg":"请输入数量"},
        {"name":"costPrice", "msg":"请输入单价"},
        {"name":"createdAt", "msg":"请选择日期"}
    ];
    $("#dataForm").submit(function(e){
        e.preventDefault();
        for (var index in nameArray) {
            var node = nameArray[index];
            if ($("#" + node.name).val().trim().length == 0) {
                $("#" + node.name + "_note").html(node.msg);
                return;
            }
        }

        if (isNaN($("#count").val())) {
            $("#count_note").html('数量必须为数字');
            return;
        }
        if (isNaN($("#costPrice").val())) {
            $("#costPrice_note").html('单价必须为数字');
            return;
        }

        //异步提交表单
        var option = {
            url : this.action,
            type : 'POST',
            dataType : 'json',
            success : function(data) {
                $("#addData").modal('toggle');
                if (data == 'undefined') {
                    balert('操作失败');
                    return;
                }
                if (data.code != 0) {
                    balert('操作失败:' + data.msg);
                } else {
                    balert('操作成功', function(){
                         showContent('/StoreController/getResources');
                    });
                }
            },
            error : function() {
                balert('提交失败');
            }
        }
        $('#dataForm').ajaxSubmit(option);
        return false;
    });
</script>